streamlit==1.49.1
google-generativeai==0.8.6
google-genai==1.43.0
google-cloud-bigquery==3.40.0
openai==2.11.0
pymongo==4.5.0
sentence-transformers==5.1.1
requests==2.32.5
pandas==2.1.1
openpyxl==3.1.5
perplexityai==0.24.0
Pillow==10.1.0
PyPDF2==3.0.1
python-docx==0.8.11
python-pptx==1.0.2
pytz==2023.3.post1
python-dateutil==2.8.2
python-dotenv==1.1.1
numpy==1.26.4
torch==2.9.0
transformers==4.57.1
tokenizers==0.22.1
safetensors==0.6.2
huggingface-hub==0.35.3
